<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="navbar-collapse collapse" id="navbarsExample06">
    <form class="form-inline my-2 my-md-0" (submit)="onSubmitCriteria()">
      <input class="form-control" type="text" placeholder="Домен" formControlName = "domainName">
      <input class="form-control" type="text" placeholder="Категория" formControlName = "categoryName">
      <input class="form-control" type="text" placeholder="Максимальная цена" formControlName = "maxPrice">
      <input class="form-control" type="text" placeholder="Минимальная цена" formControlName = "minPrice">
      <input class="form-control" type="text" placeholder="Максимальная скидка" formControlName = "maxDiscount">
      <input class="form-control" type="text" placeholder="Минимальная скидка" formControlName = "minDiscount">
      <button type="submit" class="search btn btn-success "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
  </div>
</nav>

<!-- <p>filterss works! </p> 

<form class="form-group" [formGroup]="filterForm" (submit)="onSubmit()">
  <label>Домен</label>
  <input class="form-control" formcontrolName="domainName"/>
  <label>Категория</label>
  <input class="form-control" formControlName="categoryName"/>
  <label>Минимальная цена</label>
  <input class="form-control" formControlName="minPrice"/>
  <label>Максимальная цена</label>
  <input class="form-control" formControlName="maxPrice"/>
  <label>Минимальная скидка</label>
  <input class="form-control" formControlName="minDiscount"/>
  <label>Максимальная скидка</label>
  <input class="form-control" formControlName="maxDiscount"/>
  <div class="input-group" id="boot-search-box">
    <input type="text" class="form-control" placeholder="" formControlName="title" required/>
      <div class="input-group-btn">
        <div class="btn-group">
          <button type="submit" class="search btn btn-success "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
  </div>
</form>

-->

<!--
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Критерии</a> 
    <br>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarsExample06" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown06">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul> 
-->
  

  

